
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fffc60;
            color: #333;
            text-align: center;
        }
        header {
            background-color: #60f8f0;
            color: rgb(0, 0, 0);
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
        }
        nav {
            background-color: #fffc60;
            padding: 10px 0;
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 15px;
        }
        nav ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 18px;
        }
        main {
            padding: 20px;
            background: white;
            margin: 20px auto;
            width: 80%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        footer {
            background-color: #000000;
            color: white;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        button {
            padding: 12px 24px;
            background-color: #008080;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #006666;
        }
